


.timeline{
  position: relative;
  margin:50px auto;
  padding:40px 0;
  width: 1000px;
}

.timeline:before{
  content:'';
  position: absolute;
  left:50%;
  top:0;
  width:2px;
  height: 100%;
  background: #000;
}

.timeline li{
  list-style: none;
  position: relative;
  width: 50%;
  padding:20px 40px;
  box-sizing: border-box;

}
.timeline li .content{
  padding-bottom:20px;
}

.timeline li:nth-child(odd){
  float: left;
  clear:both;
  text-align: left;
}



.timeline li:nth-child(odd):before{
  content:'';
  position: absolute;
  top:24px;
  left:-6px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: red;
  box-shadow: 0 0 0 3px red;
}

.timeline li:nth-child(even){
  float: right;
  clear:both;
  text-align: left;
}

.timeline li:nth-child(even):before{
  content:'';
  position: absolute;
  top:24px;
  left:-4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: red;
  box-shadow: 0 0 0 3px red;
}

.timeline li h3{
  font-weight: 600;
  color:white;
}

.timeline li p{
  margin:10 0 0;
  
}

.timeline li .time h4{
  font-size: 14px;
}

.timeline li:nth-child(odd) .time{

  position: absolute;
  top:12px;
  right:-165px;
  margin:0;
  padding:8px 6px;
  background: yellow;
  color:blue;
  border-radius: 18px;

}

.timeline li:nth-child(even) .time{

  position: absolute;
  top:12px;
  left:-165px;
  margin:0;
  padding:8px 6px;
  background: yellow;
  color:blue;
  border-radius: 18px;
  
}

h1{
  text-align: center;
  font-size: 60px;
}


