



@import "./responsive.css";
@import ".//home_menu/about_page.css";



*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  cursor: url(../asset/cursor.png),pointer;
  overflow-x: hidden;


 
}
.hidden{
  display: none;
}


.container_one{
  height:97vh;
  width: 100vw;
  background: #1b1363;
  background-attachment: fixed;

}
.logo_image{
  height: 100vh;
  overflow: hidden;
  position: relative;
  padding: 4em 8em 0 8em;

}

.logo1{
  position: fixed;
  height: 100px;
}

.logo2{
   position: absolute;
   height: 100px;

 }

section .info{
  margin-left:10%;

}

section .info span{
  font-family: 'Lato', sans-serif;
  font-size: 80px;
  position: absolute;
  top:520px;
  margin-left:50px;
  color:#00C8FF;

}

section .info h1{
  font-family: 'Saira Stencil One', cursive;
  font-size: 110px;
  position: absolute;
  top:580px;
  margin-left:-10px;
  color:#00C8FF;

}

section .info .me{
  font-family: 'Lato', sans-serif;
  font-size: 110px;
  position: absolute;
  top:650px;
  margin-left:10px;
  color:#00C8FF;

}

section .backfround{
  position: absolute;
  bottom:-10px;
  right:40px;
}

section .backfround img{
  height: 600px;
  padding-bottom:40px;
  padding-right: 10px;
}

.nav_links{
  padding-left:300px;
  padding-top:100px;
  position: absolute;
  top:-20px;
  height: 100%;
  width: 100%;
  list-style: none;
  background: #00C8FF;
  clip-path: circle(100px at 110% -20%);
  -webkit-ip-path:circle(100px at 110% -10%);
  transition: all 1s ease-out;

}


.nav_links li a{
  display:block;
  font-size:80px;
  font-weight: 900;
  color:#1b1363;
  font-family: 'Lato', sans-serif;
  margin-bottom:40px;
  text-decoration: none;
  z-index: 2;
  transition: all 0.5s;
}

.nav_links li a:hover{
  color:rgb(24,22,95);

}

.nav_links.open{
  clip-path: circle(2000px at 90% -10%);
  -webkit-ip-path:circle(2000px at 90% -10%);
  pointer-events: all;
}


/* section2 */



.container_two{
  height:100vh;
  width: 100vw;
  background: rgb(236,77,80);
  /* background-image: url("../asset/about_bg2.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 300px 30%; */
}


.container_two .infor{
  height: 90%;
  width: 103%;
  margin:0 auto;
  /* border: 1px solid #1b1363; */
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.container_two .intro{

  padding-top:50px;
  /* border: 1px solid white; */

}

.container_two .intro h1{
  font-size:30px;
  font-weight: 800;
  color:#1b1363;
  font-family: 'Lato', sans-serif;
  position: relative;
  margin-bottom: 50px;

}

.container_two .intro h1::before{
  content: "";
  height: 7px;
  width: 80px;
  background: #1b1363;
  position: absolute;
  top:45px;

}

.container_two .intro h4{
  font-family: 'Anton', sans-serif;
  font-size:30px;
  font-weight: 1200;
  color:#1b1363;
  position: relative;
  margin-bottom: 30px;

}

.container_two .intro p{
  text-align: justify;
  font-family: 'Lato', sans-serif;
  font-size:18px;
  font-weight: 1200;
  color:#1b1363;
  position: relative;
  margin-bottom: 30px;

}

.container_two .details{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap:20px;
  margin-bottom: 80px;
  position: relative;
}
.container_two .details::before{
  content: "";
  height: 1px;
  width: 600px;
  background: #1b1363;
  position: absolute;
  bottom:-20px;
}


.container_two .details .details_item{
  font-family: 'Lato', sans-serif;
  font-size:18px;
  font-weight: 1200;
  color:#1b1363;
}

.container_two button{
  cursor: pointer;
  border:1px solid #1b1363;
  width: 160px;
  height: 40px;
  padding:10px;
  background: transparent;
  border-radius: 10px;
  font-size: 15px;
  color:#1b1363;
  font-family: 'Lato', sans-serif;

}



.container_two button:hover{
 background: #1b1363;
 color:rgb(236,77,80);

}

.container_two .cavas{
  margin-top:80px;
}











/* section3 */

footer .container{
  width: 100vw;
  height: 20vh;

  background: #000;
  display: flex;
  align-items: center;

}

footer .container .content{
  height: 80%;
  width: 90%;
  /* border:1px solid white; */
}

footer .content .logo3{
  margin-left:140px;
  height: 12vh;

}
footer .content{
  display: flex;
  justify-content: space-between;
}

footer .contact_icons{
  display: flex;
  align-items: center;
}

footer .contact_icons .icon{
  font-size: 25px;
  color:white;
  margin-left:80px;
  margin-right: 20px;
}



footer .right_info{
  color:white;
  padding-top:30px;
}
footer .right_info .copyright{
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  margin-left:150px;
  margin-top:20px;
}

















