


@import "./home.css";
@import "./responsive.css";
@import "./button_animation.css";

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  cursor: url(../asset/cursor.png),pointer;
}
.hidden{
  display: none;
}








