

/* responsive design */

@media (max-width:768px){

  nav{
    position: relative;
  }
  .menu_hambuger{
    position: absolute;
    right:5px;
    top:20px;
    cursor: pointer;
    z-index: 1;
    transform: translate(-5%,-50%)
  }
  .line{
    width:30px;
    height:3px;
    background:black;
    margin:5px;
  }

/* .nav_links{
  padding-left:60px;
  padding-top:30px;
  position: fixed;
  height: 100%;
  width: 100%;
  list-style: none;
  background: #fc589f;
  clip-path: circle(100px at 100% -20%);
  -webkit-ip-path:circle(100px at 100% -10%);
  transition: all 1s ease-out;
  pointer-events: none;

} */

.nav_links.open{
  clip-path: circle(1000px at 90% -10%);
  -webkit-ip-path:circle(1000px at 90% -10%);
  pointer-events: all;
}


  /* .nav_links li a{
    display:block;
    font-size:80px;
    font-weight: 900;
    color:rgb(72,43,245);
    font-family: 'Lato', sans-serif;
    margin-bottom:40px;
    text-decoration: none;
    z-index: 2;
  } */

  section .computer img{
   display: none;
  }
  
  .nav_links li{
    opacity: 0;
  }
  .nav_links li:nth-child(1){
    transition: all 0.5s ease 0.8s;

  }
 
  .nav_links li:nth-child(2){
    transition: all 0.5s ease 1s;

  }
  .nav_links li:nth-child(3){
    transition: all 0.5s ease 1.2s;

  }
  .nav_links li:nth-child(4){
    transition: all 0.5s ease 1.4s;

  }
li.fade{
    opacity: 1;
  }

}