
@media only screen and (max-width: 900px) {


  /* section one */
  html{
    overflow-x: hidden;
  }

  .icon-scroll{
    position: relative;
    bottom:-20px;
    left:50%;
   }
 

  .container_one{
  
    height: 780px;
  }
 

  section .menu {
    z-index: 20;
    top:7%;
  }
  .nav_links{
    padding-top: 120px;
    padding-left:90px;
    z-index: 10;
  
  }

  .nav_links li a{
    font-size:60px;
    font-weight: 400;
    margin-bottom:10px;
  }

  section .info h1{
    font-size: 60px;
    position: absolute;
    bottom:20px;
    left:50px;
    margin-left:20px;
  }

  .container_one .logo_image{
 
    height: 780px;
    overflow: hidden;
    padding: 3em 8em 0 3em;

  }
  .logo1{
    position: absolute;
    
  }

  section .background{
    overflow-x: hidden;
  
 
    top:30%;
    left: 2%;
   
  }
  section .background img{
    height: 400px;
  }

  .container_one .logo_image img{
    z-index: 10;
    height: 80px;
  }

  .container_two .logo_image img{
    visibility: hidden;
  }

  .icon-scroll{
    position: relative;
    bottom:60px;
    left:50%;
   }

/* section two */
/* /* .container_two{
  height: 650px;
} */


.container_two{
  height: 1300px;
}

.container_two .logo_image{
  padding:0;
  padding-top:100px;
  padding-left: 20px;
  height: 1300px;

}


.container_two .infor{
  background-size: 300px;
  background-position: 50% 30%;
  display: grid;
  grid-template-columns: repeat(3,100px);
  grid-template-rows: repeat(6,180px);
}

.container_two .box1{
  padding-left: 0;
}
.container_two .box1 h1{

  font-size: 35px;

}


.container_two .box2:before{
  position: absolute;
  top:-15px;
  left:20px;
  font-size: 80px;
}

.container_two .box2 .other_skills{
  position: absolute;
  top:90px;
  left:25px;
  color:white;
  font-size: 50px;
}



.container_two .box4{
  display: grid;
  grid-template-columns: 60px;
  grid-template-rows: repeat(4,40px);
  padding-top:10%;
  padding-left: 10%;

}

.container_two .box4 h3{
  font-size:15px;

}


.container_two .box7 .front_end{
  position: absolute;
  top:85px;
  right:20px;
  font-size: 70px;
  color:white;

}
.container_two .box7:before{
  position: absolute;
  top:-15px;
  left:30px;
  font-size: 80px;
}

.container_two .box9{
  padding-top:10%;
  padding-left: 10%;
 
  font-size: 12px;
  
}


.container_two .box6 .back_end{
  position: absolute;
  top:85px;
  right:20px;
  font-size: 70px;
  color:white;

}
.container_two .box6:before{
  position: absolute;
  top:-15px;
  left:25px;
  font-size: 80px;
}



.container_two .box8{
  font-size: 13px;


}

.progress {
  margin-bottom: 15px;
}


.container_two .box3 .heart{

  

  font-size: 50px;
  color:rgb(236,77,80);

}


.container_two .box5 h1{

 font-size: 18px;

}


.container_two .box10:before{
  position: absolute;
  top:-38%;
  left:33%;
  content:'2';
  color:white;
  font-size: 30px;

}

.container_two .box11{
  padding:0;
  display: grid;
  grid-template-columns: 60px;
  grid-template-rows: repeat(4,30px);


}

.container_two .box11 h3{
 display: inline;


  font-size:13px;

}













}