

@media (max-width:900px) {
  body{
    overflow-x: hidden;
  }
 

  .logo_image{
    overflow: hidden;
    position: relative;
    padding: 4em 8em 0 1em;
  }



  .nav_links{
    padding-top:100px;
    position: absolute;
    top:10px;
    height: 100%;
    width: 100%;
  }


  .nav_links li a{
    display:block;
    font-size:20px;

    color:rgb(236,77,80);
    font-family: 'Lato', sans-serif;
    margin-bottom:40px;
    text-decoration: none;
    z-index: 2;
    transition: all 0.5s;
  }



 
}